@import '../../node_modules/bulma/sass/utilities/initial-variables';

// Color palette obtained through http://colormind.io
$primary: #00588F;
$secondary: #5FA7B9;
$tertiary: #FFFFFF;
$quaternary: #F5CE6F;
$quinary: #CA3A40;

$body-font-size: 18pt;
$menu-label-font-size: 14pt;

.inbox{
  overflow-y: scroll;
  height: 75vh;
}
.menu-list > li > a {
  font-size: 18pt;
}
.no-mail {
  height: 100%;
}
.mail-body {
  overflow-y: scroll;
  height: 60vh;
  width: 100%;
}
.mail-preview {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.no-overflow {
  overflow-x: hidden;
}
.pageloader .title {
  letter-spacing: normal !important;
}
.settings-wrap {
  overflow-y: scroll;
  height: 60vh;
}

@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-switch';
@import '../../node_modules/bulma-pageloader';