main {
  bottom: 0;
  display: grid;
  left: 25vw;
  overflow-y: scroll;
  position: absolute;
  top: 64px;
  width: 75vw;
}

.app {
  height: 100vh;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}
.drawer-list-separator {
  width: 2vw;
}
.drawer-offset {
  height: 10vh;
}
.drawer-paper {
  z-index: 1 !important;
  margin-top: 64px;
  width: 25vw;
}
.icon {
  font-size: 45pt !important;
}
.load-app {
  color: #ff0000;
  left: -50%;
  position: relative;
  top: -50%;
}
.load-wrap {
  left: 50%;
  position: absolute;
  top: 50%;
}
.mail-close {
  margin: auto !important;
}
.mail-close > span {
  font-size: 20pt;
}
.mail-content {
  border: 5px solid black;
  border-radius: 4px;
}
.mail-dialog > div[role=document] > div {
  padding: 2vh 2vw;
}
.mail-preview {
  height: 50vh;
  margin: 2vh auto;
  width: 70vw;
}
.main-load {
  margin: auto;
}
.mp-content {
  text-align: center;
}
.mp-name {
  font-size: 30pt;
}
.mp-subject {
  font-size: 45pt;
}
.name {
  display: block;
  height: 5vh;
  margin: auto;
}
.preview-action-area {
  border-radius: 4px;
  height: 50vh;
  width: 70vw;
}
.sidenav-text > span {
  font-size: 30pt;
}